@model NewsCollector.Models.ArticleModel
@{
    ViewBag.Title = "Artykół";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css")">

<div>
    <h3 class="articleTitle">@Model.Title</h3>
    <p class="lead leadParagraph">@Model.LeadingParagraph<p>
    <p class="articleContent">@Model.Body</p>
    <p class="articleContent">@Model.AuthorId</p>
</div>

@Html.ActionLink("Powrót do głównej strony", "Index")
@Html.ActionLink("Zapisz", "ExportPdf", new { id = Model.Id })