@model NewsCollector.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/signUp.css")">
<div class="registerPage">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="space"></div>
        <div class="containerLogin">
            <div class="login">
                <div class="loginTitle">Zarejestruj się!</div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <form method="post" action="index.html">
                    <p>@Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })</p>
                    <p>@Html.PasswordFor(m => m.Password, new { placeholder = "Hasło", @class = "form-control" })</p>
                    <p>@Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Powtórz hasło", @class = "form-control" })</p>
                    <label for="birthday">Data urodzenia</label>
                    <p><input type="date" value="1990-01-01" name="birthday" min="1990-01-01" max="2018-06-01" required></p>
                    <p class="terms">
                        <input type="checkbox" name="terms" id="terms" required>
                        Akceptuję regulamin
                    </p>
                    <p class="submitBtn"><input type="submit" name="commit" value="ZAREJESTRUJ"></p>
                </form>
            </div>
        </div>
        <div class="login-help">
            @Html.ActionLink("Masz już konto ?", "Login")
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}