@{
    Layout = null;
}
@model NewsCollector.Models.ArticleViewModel

<div class="article iframe" data-link="/Article/Article/@Model.Id">
    <div style="background: transparent; width: auto;overflow: hidden;">
        <div class="article" style="background-size: cover; background-image:Url(@Model.Image)">
            <div style="background:transparent; width:auto;height:150px"></div>
            <div class="text">
                <h1 style="background-color: rgba(195, 195, 195, 0.8);">@Model.Title</h1>
                <br>
                <h3 style="background-color: rgba(195, 195, 195, 0.8);">@Model.AdditionDate</h3>
                <br>
                <h5 style="background-color: rgba(195, 195, 195, 0.8);">@Model.LeadParagraph</h5>
                <br>
                <br>
                <p style="background-color: rgba(195, 195, 195, 1);">
                    @Model.Content
                </p>
            </div>
        </div>
    </div>
</div>
