@model IEnumerable<NewsCollector.Models.ArticleBrowsingViewModel>

@{
    ViewBag.Title = "Moje Artykuły";
}
<ul class="nav nav-pills nav-justified" role="tablist" style="margin-top:30px">
    <li><a href="@Url.Content("~/redactor/index")">Info</a></li>
    <li class="active"><a href="#">Moje Artykuły</a></li>
    <li><a href="#">Moje Komentarze</a></li>
    <li><a href="@Url.Content("~/redactor/articleEditor")">Nowy Artykuł</a></li>
</ul>

<h2>Moje Artykuły</h2>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                Tytuł
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditArticle", "Redactor", new { id = item.Id }, null) |
                @Html.ActionLink("Podgląd", "Article", "Article", new { id = item.Id }, null) |
                <a id="" class="DeleteBtn" data-artid="@item.Id" href="#">Usuń</a>
            </td>
        </tr>
    }

</table>
}else
{ 
  <br/>
  <h4>Nie napisałeś jeszcze żadnego artykułu</h4>  
}

<script type="text/javascript">
    $(function () {
        $(".DeleteBtn").click(function () {
            $.ajax({
                type: "post",
                url: "@Url.Action("Delete","Article")",
                data: "{id: " + JSON.stringify($(this).data('artid')) + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    location.reload();
                }
            });
        });
    });
</script>